<div class="tooltipContent">
	<span class="tableHolder">
		<table class="hoverTable">
			<tbody>
				<tr>
					<th rowspan="4" class="resImgHolder"><img src="http://placehold.it/100x80/BBB&text={{resImage}}"></th>
					{{#if quantity}}
						<th colspan="2">{{resName}}</th>
					{{else}}
						<th colspan="1">{{resName}}</th>
					{{/if}}
				</tr>
				<tr>
					{{#if quantity}}
						<td class="dataHolder">Type: {{resType}}</td>
						<td class="dataHolder">Quantity: {{quantity}}</td>
					{{else}}
						<td class="dataHolder">Type: {{resType}}</td>
					{{/if}}
				</tr>
				<tr>
					{{#if quantity}}
						<td class="dataHolder">Weight: {{resWeight}}</td>
						<td class="dataHolder">Total Weight: {{resTotalWeight}}</td>
					{{else}}
						<td class="dataHolder">Weight: {{resWeight}}</td>
					{{/if}}
				</tr>
				<tr>
					{{#if quantity}}
						<td class="dataHolder">Value: {{resValue}}</td>
						<td class="dataHolder">Total Value: {{resTotalValue}}</td>
					{{else}}
						<td class="dataHolder">Value: {{resValue}}</td>
					{{/if}}
				</tr>
				<tr>
					<td class="resDescHolder" colspan="3">{{{resDesc}}}</td>
				</tr>
			</tbody>
		</table>
	</span>
</div>