<div class="invObject type_item">
	<img src="http://placehold.it/100x80/BBB&text={{itemImage}}">
	<div class="invInfo">
		<div class="itemQuantity">{{quantity}}</div>
		<div class="itemName">{{itemName}}</div>
	</div>
</div>