<div class="invObject type_item">
	<img src="http://placehold.it/100x80/BBB&text={{itemImage}}">
	<div class="invInfo">
		<div class="itemName">
			<p style="display: table-cell; vertical-align: middle; text-align: center; line-height: 95%;">
				{{itemName}}
			</p>
		</div>
		{{#ifdef quantity}}
			<div class="itemQuantity">{{quantity}}</div>
		{{/ifdef}}
	</div>
</div>
