<div class="notificationObject {{class}}" onclick="window.opener.location.href='{{link}}';">
	<img src="http://placehold.it/80x80&text={{image}}" class="image">
	<div class="title">{{title}}</div>
	<div class="message">{{{content}}}</div>
	<div class="close red-over" onclick="event.stopPropagation(); removeNotification({{id}});">X</div>
</div>