<div class="objectListItem blue-over" data-objectID="{{objectID}}">
	<table style="width: 100%;" class="scaffold">
		<tr>
			<td rowspan="5" style="width: 60px;">
				<img src="http://placehold.it/60x60&text={{objectID}}">
			</td>
			<td>{{objectName}}</td>
		</tr>
		<tr>
			<td>({{objectCoord}})</td>
		</tr>
		<tr>
			<td>Weight: <span class="{{storageColor}}">{{usedStorage}} / {{maxStorage}}</span></td>
		</tr>
		<tr>
			<td>Fleets: ...</td>
		</tr>
	</table>
</div>