<tr class="gen">
	<td>{{itemName}}</td>
	<td>
		{{#if production}}
			{{#key_value_object production}}
				<span class="itemLink" data-type="diff" data-item="{{key}}" data-parameters="{{value}}"></span>
			{{/key_value_object}}
		{{/if}}
	</td>
	<td>
		{{#if consumption}}
			{{#key_value_object consumption}}
				<span class="itemLink" data-type="diff" data-item="{{key}}" data-quantitysign="-" data-parameters="{{value}}"></span>
			{{/key_value_object}}
		{{/if}}
	</td>
	<td>
		{{#ifdef activity}}
			<input class="activity_{{id}} activityInput" data-id="{{id}}" type="number" value="{{activity}}" min="0" max="100">%
		{{/ifdef}}
	</td>
</tr>