<div class="researchListItem {{techColor}}-over" data-techID="{{techID}}">
	<table style="width: 100%" class="scaffold">
		<tr>
			<td rowspan="5" style="width: 61px;">
				<img width="60" height="52" src="resources/images/research/{{techImage}}">
			</td>
			<td>{{techName}}</td>
		</tr>
		<tr>
			<td>Level {{techLevel}}</td>
		</tr>
		<tr>
			<td>Progress: {{techPoints}}/{{techPointsReq}}</td>
		</tr>
	</table>
</div>