{{#ifdef researchNoteBuildingReq}}
	<span class="textLink" data-hover="Buildings required to create this research note">
		Building Requirements:
	</span>
	<div style="margin-left: 10px;">
		{{#key_value researchNoteBuildingReq}}
			<span class="buildingLink" data-buildID="{{key}}" data-buildLevel="{{value}}">{{key}} -- {{value}}</span>
		{{/key_value}}
	</div>
	<br>
{{/ifdef}}

{{#ifdef researchNoteCost}}
	<span class="textLink" data-hover="Initial cost of creating this research note. This will not be refunded if the research is cancelled.">
		Research Start Cost:
	</span>
	<div style="margin-left: 10px;">
		{{#key_value_object researchNoteCost}}
			<span class="itemLink" data-item="{{key}}" data-parameters="{{value}}">{{key}} -- {{value}}</span>
		{{/key_value_object}}
	</div>
<br>
{{/ifdef}}

<span class="textLink" data-hover="Hourly resource consumption for creating this research note. Research will be cancelled if resources are missing.">
						Research Hourly Cost:
					</span>
<div style="margin-left: 10px;">
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
</div>
<br>
<span class="textLink" data-hover="Passive modifiers that will be active while the research is progressing.">
						Research Passive:
					</span>
<div style="margin-left: 10px;">
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
	<span class="itemLink" data-item="metal" data-parameters="100"></span>
</div>
