/* corners */
.ctl {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
	background-image: url("../images/borders/main_c.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

.ctr {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
	background-image: url("../images/borders/main_c.png");
	background-repeat: no-repeat;
	background-position: -30px 0px;
	background-color: #212121;
	pointer-events: none;
}

.cbl {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 30px;
	background-image: url("../images/borders/main_c.png");
	background-repeat: no-repeat;
	background-position: 0px -30px;
	background-color: #212121;
	pointer-events: none;
}

.cbr {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 30px;
	width: 30px;
	background-image: url("../images/borders/main_c.png");
	background-repeat: no-repeat;
	background-position: -30px -30px;
	background-color: #212121;
	pointer-events: none;
}

/* left border */
.bl {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 30px;
	background-image: url("../images/borders/main_v.png");
	background-repeat: repeat-y;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* right border */
.br {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 30px;
	background-image: url("../images/borders/main_v.png");
	background-repeat: repeat-y;
	background-position: -30px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* top border */
.bt {
	position: absolute;
	top: 0px;
	right: 30px;
	left: 30px;
	height: 30px;
	background-image: url("../images/borders/main_h.png");
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* bottom border */
.bb {
	position: absolute;
	bottom: 0px;
	right: 30px;
	left: 30px;
	height: 30px;
	background-image: url("../images/borders/main_h.png");
	background-repeat: repeat-x;
	background-position: 0px -30px;
	background-color: #212121;
	pointer-events: none;
}

.bTop {
	position: absolute;
	top: 0px;
	height: 30px;
	width: 100%;
	pointer-events: none;
}

.bMiddle {
	position: absolute;
	top: 30px;
	bottom: 30px;
	width: 100%;
	pointer-events: none;
}

.bBottom {
	position: absolute;
	bottom: 0px;
	height: 30px;
	width: 100%;
	pointer-events: none;
}

/* Wrapper for the content. */
.bContent {
	position: absolute;
	top: -15px;
	bottom: -15px;
	left: 15px;
	right: 15px;
	word-wrap: break-word;
	overflow: auto;
	z-index: 1;
	color: #999999;
	background-color: #212121;
	pointer-events: auto;
}

.bWrapper {
}

/*
 * SMALL
 * */
/* corners */
.ctl_s {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 15px;
	width: 15px;
	background-image: url("../images/borders/main_c_s.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

.ctr_s {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 15px;
	width: 15px;
	background-image: url("../images/borders/main_c_s.png");
	background-repeat: no-repeat;
	background-position: -15px 0px;
	background-color: #212121;
	pointer-events: none;
}

.cbl_s {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 15px;
	width: 15px;
	background-image: url("../images/borders/main_c_s.png");
	background-repeat: no-repeat;
	background-position: 0px -15px;
	background-color: #212121;
	pointer-events: none;
}

.cbr_s {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 15px;
	width: 15px;
	background-image: url("../images/borders/main_c_s.png");
	background-repeat: no-repeat;
	background-position: -15px -15px;
	background-color: #212121;
	pointer-events: none;
}

/* left border */
.bl_s {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 15px;
	background-image: url("../images/borders/main_v_s.png");
	background-repeat: repeat-y;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* right border */
.br_s {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 15px;
	background-image: url("../images/borders/main_v_s.png");
	background-repeat: repeat-y;
	background-position: -15px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* top border */
.bt_s {
	position: absolute;
	top: 0px;
	right: 15px;
	left: 15px;
	height: 15px;
	background-image: url("../images/borders/main_h_s.png");
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #212121;
	pointer-events: none;
}

/* bottom border */
.bb_s {
	position: absolute;
	bottom: 0px;
	right: 15px;
	left: 15px;
	height: 15px;
	background-image: url("../images/borders/main_h_s.png");
	background-repeat: repeat-x;
	background-position: 0px -15px;
	background-color: #212121;
	pointer-events: none;
}

.bTop_s {
	position: absolute;
	top: 0px;
	height: 15px;
	width: 100%;
	pointer-events: none;
}

.bMiddle_s {
	position: absolute;
	top: 15px;
	bottom: 15px;
	width: 100%;
	pointer-events: none;
}

.bBottom_s {
	position: absolute;
	bottom: 0px;
	height: 15px;
	width: 100%;
	pointer-events: none;
}

/* Wrapper for the content. */
.bContent_s {
	position: absolute;
	top: -7px;
	bottom: -7px;
	left: 7px;
	right: 7px;
	word-wrap: break-word;
	overflow: auto;
	z-index: 1;
	color: #999999;
	background-color: #212121;
	pointer-events: auto;
}

.bWrapper_s {
}