.divRow {
	display: block;
	text-align: left;
	padding: 5px 30px;
}

.divRow input[type="text"], .divRow input[type="password"], .divRow input[type="email"] {
	width: 250px;
}

.divRow label {
	display: block;
	float: left;
	width: 140px;
	margin: 6px 0 7px;
	text-align: left;
}

.divRow .inputDesc {
	display: block;
	font-size: 11px;
	padding: 1px 0 0 2px;
	overflow: hidden;
}
