#researchHolder {
	min-height: 500px;
	background: rgba(3,26,58,0.8);
	border: 1px #D3D3D3 solid;
	cursor: pointer;
}

#researchControlsToggle {
	position: absolute;
	top: 101px;
	left: 251px;
	height: 20px;
	width: 100px;
	text-align: center;
	background: rgba(2,26,58,0.8);
	cursor: pointer;
	border: 1px solid #D3D3D3;
}

#researchInfoHolder {
	position: absolute;
	top: 0px;
	height: 150px;
	left: 0px;
	width: 250px;
	border: 1px #D3D3D3 solid;
	background: rgba(3,26,58,0.8);
}

#researchObjectListHolder {
	position: absolute;
	top: 151px;
	left: 0px;
	width: 200px;
	bottom: 0px;
	border: 1px #D3D3D3 solid;
	background: rgba(3,26,58,0.8);
}

#researchActivityListHolder {
	position: absolute;
	top: 0px;
	left: 251px;
	right: 0px;
	height: 100px;
	border: 1px #D3D3D3 solid;
	background: rgba(3,26,58,0.8);
}

#researchSVG g {
	cursor: pointer;
}
