#researchHolder {
	min-height: 500px;
	background: rgba(3,26,58,0.8);
	border: 1px #D3D3D3 solid;
	cursor: pointer;
}

#researchControlsToggle {
	position: absolute;
	top: 101px;
	left: 251px;
	height: 20px;
	width: 100px;
	text-align: center;
	background: rgba(2,26,58,0.8);
	cursor: pointer;
	border: 1px solid #D3D3D3;
}

#researchObjectListHolder {
	position: absolute;
	top: 151px;
	left: 0px;
	width: 200px;
	bottom: 0px;
	border: 1px #D3D3D3 solid;
	background: rgba(3,26,58,0.8);
}

#researchActivityListHolder {
	position: absolute;
	top: 0px;
	left: 251px;
	right: 0px;
	height: 100px;
	border: 1px #D3D3D3 solid;
	background: rgba(3,26,58,0.8);
}

#researchSVG g {
	cursor: pointer;
}

/*
 * Research Production page
 * */

#toggleMaxMain {
	position: absolute;
	top: 0px;
	height: 20px;
	left: 251px;
	width: 10px;
	background: rgba(2,26,58,0.8);
	cursor: pointer;
	border: 1px solid #D3D3D3;
	z-index: 999;
}

#researchLeftPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 250px;
	background: rgba(2,26,58,0.8);
	border: 1px #D3D3D3 solid;
	min-height: 40px;
}

#researchLeftPanel .researchListSearch {
	position: absolute;
	top: 0px;
	height: 30px;
	left: 0px;
	right: 0px;
	background: rgba(5,49,109,0.5);
	border-bottom: 1px #D3D3D3 solid;
}

#researchLeftPanel .researchListHolder {
	position: absolute;
	top: 31px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

#researchLeftPanel .researchListHolder .researchListItem {
	height: 52px;
	border-top: 1px #D3D3D3 solid;
	border-bottom: 1px #D3D3D3 solid;
	margin-top: 3px;
	cursor: pointer;
}

#researchMainPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 251px;
	right: 0px;
	background: rgba(2,26,58,0.8);
	border: 1px #D3D3D3 solid;
}

#researchMainPanel #researchQueueHolder {
	position: absolute;
	top: 0px;
	height: 80px;
	left: 0px;
	right: 0px;
	background: rgba(2,26,58,0.8);
	border-bottom: 1px #D3D3D3 solid;
}

#researchInfoHolder {
	position: absolute;
	top: 81px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(3,26,58,0.8);
}

#researchMainPanel .researchInfo {
	position: absolute;
	top: 81px;
	bottom: 56px;
	left: 0px;
	right: 0px;
	cursor: pointer;
}