/*
 * (C) Copyright 2012 David J. W. Li
 * Project DLPSIGAME
 */

/* Tiny Scrollbar */
.scrollable {
}

.scrollableWindow {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.scrollable .viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.scrollable .overview {
	list-style: none;
	position: relative;
}

.scrollable .scrollbar {
	background: rgba(20,20,20,0.4);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	width: 10px;
	float: right;
	cursor: pointer;
	overflow: hidden;
}

.scrollable .thumb {
	height: 20px;
	width: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	top: 0;
	padding: 1px;
}

.scrollable .disable {
	display: none;
}
